.wrap {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 575px;
  width: 100%;
}

h2, p, .list { text-align: center; }
.clickaction {
  display: flex;
  justify-content: center;
}

.list {
  padding: 10px;
}

.list span {
  font-size: 24px;
}